$base-color: #1143ff; //#0078e7
$white-color: #fff;
$login-width: 75%;
$small-font: 0.8rem;

$large-screen: 1080px;
$laptop-screen: 924px;
$tablet-screen: 750px;
$phone-screen: 560px;
$small-screen: 400px;